//- section.hero-divider
//-         .background-image-holder.overlay
//-           img.background-image(alt="Poster Image For Mobiles", src="/img/side1.jpg")
//-         .video-wrapper
//-           video(autoplay="", muted="", loop="")
//-             source(src="/video/video.webm", type="video/webm")
//-             source(src="/video/video.mp4", type="video/mp4")
//-             source(src="/video/video.ogv", type="video/ogg")
//-         .container
//-           .row
//-             .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.text-center
//-               h1.text-white We repair your computer; you can get on with your life.
//-               p.lead.text-white
//-                 | We schedule 1-2 hour appointments for computer repair sessions, or pickup/dropoff services for busier lifestyles.
//-             // end of row
//-         // end of row
section.hero-slider
        ul.slides
          li.overlay
            .background-image-holder.parallax-background
              img.background-image(alt="Background Image", src="/img/home1.jpg")
            .container.align-vertical
              .row
                .col-md-6.col-sm-9.pull-right
                  h1.text-white We repair computers quickly with a 6 month warranty. You get peace of mind and go back to doing what you do best.
                  a.btn.btn-primary.btn-white.pull-right(target="_blank", href="/schedule-an-appointment/") Click here to hire us
            // end of container
          // end of individual slide
section.duplicatable-content
  .container
    .row
      .col-md-12.text-center
        h2 We come to you to fi 
    .row
      .col-sm-6.text-center
        h3 
      .col-sm-6.text-center
        h3 We pickup and dropoff your computer
    // end of row
    .row
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-genius
          .pull-right
            h5 Distinct Visual Style
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-linegraph
          .pull-right
            h5 Multiple Demos
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-tools-2
          .pull-right
            h5 Flexible Page Builder
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-desktop
          .pull-right
            h5 Fully Responsive
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.
      // end 6 col
    // end of row
  // end of container
section.feature-selector
  .container
    ul.selector-content
      li.clearfix.active
          .col-sm-6
            .row
              .icon
                i.icon.icon-newspaper.text-center
              h2 Onsite computer repair
              h4 Takes roughly 1.5 hours of your time.
            // end of row
            .row
                p.lead
                  | We send a Microsoft or Apple certified technician to your home or business and repair your computer. We won't leave until you're 100% satisifed.
            // end of row
          .col-sm-6
            .row
                h2 We pickup and dropoff.
                h4 Takes roughly 30 minutes of your time.
            // end of row
            .row
                p.lead
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
            // end of row 
      // end of individual feature content
      li.clearfix
        .row
          .col-sm-12.text-center
            h1 Many appealing ways to present information
        // end of row
        .row
          .col-sm-6
            p.lead
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
          .col-sm-6
            p.lead
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
        // end of row
      // end of individual feature content
      li.clearfix
        .row
          .col-sm-12.text-center
            h1 Several appealing ways to present information
        // end of row
        .row
          .col-sm-6
            p.lead
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
          .col-sm-6
            p.lead
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
        // end of row
      // end of individual feature content
      li.clearfix
        .row
          .col-sm-12.text-center
            h1 Numerous appealing ways to present information
        // end of row
        .row
          .col-sm-6
            p.lead
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
          .col-sm-6
            p.lead
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
        // end of row
      // end of individual feature content
    // end of container
section.team-1
  .container
    .row
      .col-md-8.col-md-offset-2.text-center
        h1 About Our Team
    // end of row
    .row.space-bottom-large
      .col-sm-4
        .team-1-member
          img(alt="Team Member", src="/img/team-small-1.png ")
          h2 Chip Mayer
          h5 Founder &#38; CEO
          p.space-top-small
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        // end of team member
      .col-sm-4
        .team-1-member
          img(alt="Team Member", src="/img/team-small-3.png ")
          h2 Claire Connors
          h5 Creative Director
          p.space-top-small
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        // end of team member
      .col-sm-4
        .team-1-member
          img(alt="Team Member", src="/img/team-small-2.png")
          h2 Robin Banks
          h5 Partner &#38; COO
          p.space-top-small
            | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        // end of team member
    // end of row
    // end of row
  // end of container
section.clients-2
  .container
    .row
      .col-md-2.col-sm-4
        img(alt="Client Logo", src="/img/client1.png")
      .col-md-2.col-sm-4
        img(alt="Client Logo", src="/img/client2.png")
      .col-md-2.col-sm-4
        img(alt="Client Logo", src="/img/client3.png")
      .col-md-2.col-sm-4
        img(alt="Client Logo", src="/img/client4.png")
      .col-md-2.col-sm-4
        img(alt="Client Logo", src="/img/client5.png")
      .col-md-2.col-sm-4
        img(alt="Client Logo", src="/img/client6.png")
    // end of row
  // end of container