//- section.hero-divider
//-         .background-image-holder.overlay
//-           img.background-image(alt="Poster Image For Mobiles", src="/img/side1.jpg")
//-         .video-wrapper
//-           video(autoplay="", muted="", loop="")
//-             source(src="/video/video.webm", type="video/webm")
//-             source(src="/video/video.mp4", type="video/mp4")
//-             source(src="/video/video.ogv", type="video/ogg")
//-         .container
//-           .row
//-             .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.text-center
//-               h1.text-white We repair your computer; you can get on with your life.
//-               p.lead.text-white
//-                 | We schedule 1-2 hour appointments for computer repair sessions, or pickup/dropoff services for busier lifestyles.
//-             // end of row
//-         // end of row
section.hero-slider
  ul.slides
    .smallslider
      li.overlay
        .background-image-holder.parallax-background
          img.background-image(alt="Background Image", src="/images/services/slider01.jpg")
        .container.nav-align-vertical
          .row
            .col-md-6.col-sm-9.pull-left
              h1.text-white We repair, speed up, upgrade, and protect any computer -  Windows or Mac OSX.
        // end of container
      // end of individual slide
section.calltoaction.duplicatable-content
  .container
    .row.align-vertical
      .col-sm-9.pull-left
        h2 Hire RepairKid to fix your computer
      .col-sm-3.pull-right
        a.btn.btn-primary.btn-white.pull-right(target="_blank", href="/schedule-an-appointment/") Let's Go!

    // end of row
  // end of container

section.primary-features.duplicatable-content
  .container
    .row
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-genius.text-white.align-vertical
          .pull-right
            h3.text-white We're Experts
            p.text-white
              | We have fixed hundreds of computers from every major
              | manufacturer. We possess the expertise and the resources to resolve
              | any computer problem.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-shield.text-white.align-vertical
          .pull-right
            h3.text-white We're Dependable
            p.text-white
              | With hundreds of satisfied clients and the longest, no
              | questions asked six month warranty, we are the safe and reliable
              | technology partner.
      // end 6 col
    .row
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-chat.text-white.align-vertical
          .pull-right
            h3.text-white We're Flexible
            p.text-white
              | We're a small business, which means we'll bend over backwards
              | for you. If you need a custom solution, we're there for you.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-happy.text-white.align-vertical
          .pull-right
            h3.text-white We're Awesome
            p.text-white
              | We work hard to make sure you're satisfied, and we'll do
              | everything we can to make sure you"re 100% happy.
      // end 6 col
    // end of row
  // end of container
section.pricing-options.duplicatable-content
  .container
    // end of row
    .row
      .col-sm-6
        .pricing-option
          .col-md-4.text-center
            span.dollar $
            span.price 299
            span.type Flat Rate
          .col-md-8
            span.title Onsite Appointment
            p You get a certified computer technician at your home or business who works with you to fix your computer problems.
            p A 6 month warranty is included on all work performed.
      // end of individual pricing option
      .col-sm-6
        .pricing-option
          .col-md-4.text-center
            span.dollar $
            span.price 199
            span.type Flat Rate
          .col-md-8
            span.title Pickup &#38; Drop-off
            p You get the convenience and savings of a quick pickup/dropoff repair service without the lengthy onsite appointment.
            p A 6 month warranty is included on all work performed.
      // end of individual pricing option
    // end of row
  // end of container
//- section.clients-2
//-   .container
//-     .row
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client1.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client2.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client3.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client4.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client5.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client6.png")
//-     // end of row
//-   // end of container