//- section.hero-divider
//-         .background-image-holder.overlay
//-           img.background-image(alt="Poster Image For Mobiles", src="/img/side1.jpg")
//-         .video-wrapper
//-           video(autoplay="", muted="", loop="")
//-             source(src="/video/video.webm", type="video/webm")
//-             source(src="/video/video.mp4", type="video/mp4")
//-             source(src="/video/video.ogv", type="video/ogg")
//-         .container
//-           .row
//-             .col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1.text-center
//-               h1.text-white We repair your computer; you can get on with your life.
//-               p.lead.text-white
//-                 | We schedule 1-2 hour appointments for computer repair sessions, or pickup/dropoff services for busier lifestyles.
//-             // end of row
//-         // end of row
section.hero-slider
  ul.slides
    .smallslider
      li.overlay
        .background-image-holder.parallax-background
          img.background-image(alt="Background Image", src="/images/services/slider01.jpg")
        .container.align-vertical
          .row
            .col-md-6.col-sm-9.pull-left
              h1.text-white We repair, speed up, upgrade, and protect any computer -  Windows or Mac OSX.
        // end of container
      // end of individual slide
section
  .container
    .row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
        i.icon.icon-jumbo.social_twitter
        #tweets(data-widget-id="492085717044981760")
          ul.slides
            li(style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;")
              .user
                a(href="https://twitter.com/mrareweb", aria-label="Medium Rare (screen name: mrareweb)", data-scribe="element:user_link")
                  img(alt="", src="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_normal.jpeg", data-src-2x="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_bigger.jpeg", data-scribe="element:avatar", draggable="false")
                  span
                    span(data-scribe="element:name") Medium Rare
                  span(data-scribe="element:screen_name") @mrareweb
              p.tweet
                | Proud to announce that Pivot is this week"s featured item on
                a(href="https://twitter.com/ThemeForest", data-scribe="element:mention") @ThemeForest
                | Thanks
                a(href="https://twitter.com/EnvatoMarket", data-scribe="element:mention") @EnvatoMarket
                | :) !!
                a(href="http://t.co/pj7n7etCfc", data-expanded-url="http://goo.gl/mP2L9X", target="_blank", title="http://goo.gl/mP2L9X", data-scribe="element:url")
                  span http://
                  span goo.gl/mP2L9X
                  span
                  span
                    span &#160;
              p.timePosted Posted on 23 Sep
              p.interact
                a.twitter_reply_icon(href="https://twitter.com/intent/tweet?in_reply_to=514327328701157376") Reply
                a.twitter_retweet_icon(href="https://twitter.com/intent/retweet?tweet_id=514327328701157376") Retweet
                a.twitter_fav_icon(href="https://twitter.com/intent/favorite?tweet_id=514327328701157376") Favorite
            li(style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.0924361021357228; display: block; z-index: 1;")
              .user
                a(href="https://twitter.com/mrareweb", aria-label="Medium Rare (screen name: mrareweb)", data-scribe="element:user_link")
                  img(alt="", src="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_normal.jpeg", data-src-2x="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_bigger.jpeg", data-scribe="element:avatar", draggable="false")
                  span
                    span(data-scribe="element:name") Medium Rare
                  span(data-scribe="element:screen_name") @mrareweb
              p.tweet
                | Thanks
                a(href="https://twitter.com/EnvatoMarket", data-scribe="element:mention") @EnvatoMarket
                a(href="https://twitter.com/Saijo_George", data-scribe="element:mention") @Saijo_George
                | ! Our aim is to provide the most enjoyable page-building experience on
                a(href="https://twitter.com/ThemeForest", data-scribe="element:mention") @ThemeForest
                | . TY for the feedback!
              p.timePosted Posted on 19 Sep
              p.interact
                a.twitter_reply_icon(href="https://twitter.com/intent/tweet?in_reply_to=512795748681793536") Reply
                a.twitter_retweet_icon(href="https://twitter.com/intent/retweet?tweet_id=512795748681793536") Retweet
                a.twitter_fav_icon(href="https://twitter.com/intent/favorite?tweet_id=512795748681793536") Favorite
            li.flex-active-slide(style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0.907563897864277; display: block; z-index: 2;")
              .user
                a(href="https://twitter.com/mrareweb", aria-label="Medium Rare (screen name: mrareweb)", data-scribe="element:user_link")
                  img(alt="", src="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_normal.jpeg", data-src-2x="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_bigger.jpeg", data-scribe="element:avatar", draggable="false")
                  span
                    span(data-scribe="element:name") Medium Rare
                  span(data-scribe="element:screen_name") @mrareweb
              p.tweet
                | Tell us what you"d like to see added in the next Pivot content update!
                a(href="http://t.co/3h8MxAcFc6", data-expanded-url="http://bit.ly/1uFJuVp", target="_blank", title="http://bit.ly/1uFJuVp", data-scribe="element:url")
                  span http://
                  span bit.ly/1uFJuVp
                  span
                  span
                    span &#160;
              p.timePosted Posted on 17 Sep
              p.interact
                a.twitter_reply_icon(href="https://twitter.com/intent/tweet?in_reply_to=512124009589141504") Reply
                a.twitter_retweet_icon(href="https://twitter.com/intent/retweet?tweet_id=512124009589141504") Retweet
                a.twitter_fav_icon(href="https://twitter.com/intent/favorite?tweet_id=512124009589141504") Favorite
            li(style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;")
              .user
                a(href="https://twitter.com/mrareweb", aria-label="Medium Rare (screen name: mrareweb)", data-scribe="element:user_link")
                  img(alt="", src="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_normal.jpeg", data-src-2x="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_bigger.jpeg", data-scribe="element:avatar", draggable="false")
                  span
                    span(data-scribe="element:name") Medium Rare
                  span(data-scribe="element:screen_name") @mrareweb
              p.tweet
                | Cheers
                a(href="https://twitter.com/adelaide_road", data-scribe="element:mention") @adelaide_road
                | . You"ll need a specific server-side script to collect the form data, but yes, with a slight js tweak it could be done.
              p.timePosted Posted on 16 Sep
              p.interact
                a.twitter_reply_icon(href="https://twitter.com/intent/tweet?in_reply_to=511764305541214208") Reply
                a.twitter_retweet_icon(href="https://twitter.com/intent/retweet?tweet_id=511764305541214208") Retweet
                a.twitter_fav_icon(href="https://twitter.com/intent/favorite?tweet_id=511764305541214208") Favorite
            li(style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;")
              .user
                a(href="https://twitter.com/mrareweb", aria-label="Medium Rare (screen name: mrareweb)", data-scribe="element:user_link")
                  img(alt="", src="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_normal.jpeg", data-src-2x="https://pbs.twimg.com/profile_images/506349617433149440/BRxmzGNE_bigger.jpeg", data-scribe="element:avatar", draggable="false")
                  span
                    span(data-scribe="element:name") Medium Rare
                  span(data-scribe="element:screen_name") @mrareweb
              p.tweet
                | Cheers
                a(href="https://twitter.com/campeaux", data-scribe="element:mention") @campeaux
                | glad you"re enjoying it!
              p.timePosted Posted on 02 Sep
              p.interact
                a.twitter_reply_icon(href="https://twitter.com/intent/tweet?in_reply_to=506684281813360641") Reply
                a.twitter_retweet_icon(href="https://twitter.com/intent/retweet?tweet_id=506684281813360641") Retweet
                a.twitter_fav_icon(href="https://twitter.com/intent/favorite?tweet_id=506684281813360641") Favorite
        p
          | Follow us
          strong
            a(href="#") @mrareweb
          | for more awesome updates
    // end of row
  // end of container

section.duplicatable-content
  .container
    .row.text-center
      h1 Pick RepairKid to fix your computer because of the following:
    // end of row
    .row
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-tools-2
          .pull-right
            h3 Expertise
            p
              | We have fixed hundreds of computers from every major
              | manufacturer. We possess the expertise and the resources to resolve
              | any computer problem.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-linegraph
          .pull-right
            h3 Dependable
            p
              | With hundreds of satisfied clients and the longest, no
              | questions asked six month warranty, we are the safe and reliable
              | technology partner.
      // end 6 col
    .row
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-tools
          .pull-right
            h3 Flexible
            p
              | We're a small business, which means we'll bend over backwards
              | for you. If you need a custom solution, we're there for you.
      // end 6 col
      .col-sm-6
        .feature.feature-icon-large
          .pull-left
            i.icon.icon-happy
          .pull-right
            h3 Awesome
            p
              | We work hard to make sure you're satisfied, and we'll do
              | everything we can to make sure you"re 100% happy.
      // end 6 col
    // end of row
  // end of container
section.pricing-options
  .container
    // end of row
    .row
      .col-sm-6
        .pricing-option
          .col-md-6.text-center
            span.dollar $
            span.price 299
            span.type Flat Rate
          .col-md-6
            span.plan-title Onsite Appointment
            ul
              li
                | You get a certified computer technician at your home or
                | business who works with you to fix your computer problems.
              li A 6 month warranty is included on all work performed.
      // end of individual pricing option
      .col-sm-6
        .pricing-option
          .col-md-6.text-center
            span.dollar $
            span.price 199
            span.type Flat Rate
          .col-md-6
            span.plan-title Pickup &#38; Drop-off
            ul
              li
                | You get the convenience and savings of a quick
                | pickup/dropoff repair service without the lengthy onsite
                | appointment.
              li A 6 month warranty is included on all work performed.
      // end of individual pricing option
    // end of row
  // end of container
//- section.clients-2
//-   .container
//-     .row
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client1.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client2.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client3.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client4.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client5.png")
//-       .col-md-2.col-sm-4
//-         img(alt="Client Logo", src="/img/client6.png")
//-     // end of row
//-   // end of container