.footer-container
  footer.short.bg-secondary-1
    .container
      .row
        .col-sm-12
          ul
            li
              span #{copyright}
            //- li
            //-   a(href="/terms/") Terms of Use
            li
              a(href="/privacy/") Privacy Policy
            li
              a(href="/sitemap.html") Site Map
        //- .col-sm-2.text-right
        //-   ul.social-icons
        //-     li
        //-       a(href="#")
        //-         i.icon.social_twitter
        //-     li
        //-       a(href="#")
                i.icon.social_facebook
      // end of row
      .row
        .col-sm-12
          span.attribution
            | Microsoft is a registered trademark of Microsoft Corporation in the United States and other countries. 
            | VMware is a registered trademark or trademark of VMware, Inc. in the United States and/or other jurisdictions. 
            | Apple and the Apple logo are  a trademark of Apple Inc., registered in the U.S. and other countries.
            | Google and the Google logo are registered trademarks of Google Inc., used with permission.
      // end of row
    // end of container
script(src="/scripts/jquery-1.11.1.js")
script(src="/scripts/jquery.plugin.js")
script(src="/scripts/bootstrap.js")
script(src="/scripts/jquery.flexslider.js")
script(src="/scripts/smoothscroll.js")
script(src="/scripts/skrollr.js")
script(src="/scripts/scrollreveal.js")
script(src="/scripts/isotope.js")
script(src="/scripts/scripts.js")
script(src="/scripts/all.js")
//- script(src="/scripts/lightbox.js")
//- script(src="/scripts/jquery.countdown.js")

