section.hero-slider
  ul.slides
    li.overlay
      .background-image-holder.parallax-background.skrollable.skrollable-before
        img.background-image(alt="Background Image", src="/images/home/slider01.jpg")
      .container.nav-align-vertical
        .row
          .col-md-6.col-sm-9.pull-right
            h1.text-white We repair computers quickly with a 6 month warranty. You get peace of mind and go back to doing what you do best.
            a.btn.btn-secondary.btn-colored.pull-right(target="_blank", href="/schedule-an-appointment/") Hire Us
      // end of container
    // end of individual slide
section.primary-features.duplicatable-content
  .container
    .row
      .col-md-4.col-sm-6.clearfix
        .feature.feature-icon-large
          .text-center
            i.icon.icon-document.text-white
          h3.text-white We're Microsoft Certified
          p.text-white
            | By being Microsoft Certified, we prove that we're subject matter experts with technology, and we continually study to stay up-to-date.
        // end of feature
      .col-md-4.col-sm-6.clearfix
        .feature.feature-icon-small
          //- i.icon.icon-linegraph
          h3.text-white We don't waste time
          p.text-white
            | Computers are repaired quickly and accurately. Our expertise and years of experience get you back up and running quickly and affordably.
        // end of feature
      .col-md-4.col-sm-6.clearfix
        .feature.feature-icon-small
          //- i.icon.icon-target
          h3.text-white We stand behind our work
          p.text-white
            | All our work is backed by a 
            strong 6 month warranty 
            | because we know our services last. Barring acts of God, things we repair keep working.
        // end of feature
    // end of row
  // end of container