section.no-pad.fullscreen-element
        .background-image-holder
          img.background-image(alt="Poster Image For Mobiles", src="img/hero6.jpg")
        .container.align-vertical
          .row
            button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModal")
              | Launch demo modal
            // Modal
            #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
              .modal-dialog.modal-lg
                .modal-content
                  .modal-body
                    // Start Square Appointments Embed code
                    script(src="https://squareup.com/appointments/buyer/widget/42833d1d-9aa6-4514-bd72-e3ccd78bf715.js")
                    // End Square Appointments Embed code
                  .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Close
          //- .row.text-center.appointment-sm
          //-   script(src="https://squareup.com/appointments/buyer/widget/9824ce67-67f5-4997-bc86-94371e71e8bf.js")
          //- .row.text-center.appointment-md
          //-   script(src="https://squareup.com/appointments/buyer/widget/42833d1d-9aa6-4514-bd72-e3ccd78bf715.js")
          //- .row.text-center
          //-   script(src="https://squareup.com/appointments/buyer/widget/614b4150-962c-4b64-b6b9-652107d77e22.js")
          // end of row
        // end of container


//- section.hero-divider
//-         .background-image-holder.overlay
//-           img.background-image(alt="Poster Image For Mobiles", src="/img/side1.jpg")
//-         .video-wrapper
//-           video(autoplay="", muted="", loop="")
//-             source(src="/video/video.webm", type="video/webm")
//-             source(src="/video/video.mp4", type="video/mp4")
//-             source(src="/video/video.ogv", type="video/ogg")
//-         .container
//-         //-   .row
//-         //-     .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.text-center
//-         //-       h1.text-white We craft  meaningful digital experiences
//-         //-       p.lead.text-white
//-         //-         | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
//-         //-   // end of row
//-         //- // end of row
//-       section.feature-selector
//-         .container
//-         .container
//-           ul.selector-content
//-             li.clearfix.active
//-               .row
//-                 .col-sm-12.text-center
//-                   h1 Schedule an appointment
//-               // end of row
//-               // Button trigger modal
//-               .row
//-                 button.btn.btn-primary.btn-lg(data-toggle="modal", data-target="#myModal")
//-                   | Launch demo modal
//-                 // Modal
//-                 #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
//-                   .modal-dialog.modal-lg
//-                     .modal-content
//-                       .modal-body
//-                         // Start Square Appointments Embed code
//-                         script(src="https://squareup.com/appointments/buyer/widget/42833d1d-9aa6-4514-bd72-e3ccd78bf715.js")
//-                         // End Square Appointments Embed code
//-                       .modal-footer
//-                         button.btn.btn-default(type="button", data-dismiss="modal") Close
//-               //- .row.text-center.appointment-sm
//-               //-   script(src="https://squareup.com/appointments/buyer/widget/9824ce67-67f5-4997-bc86-94371e71e8bf.js")
//-               //- .row.text-center.appointment-md
//-               //-   script(src="https://squareup.com/appointments/buyer/widget/42833d1d-9aa6-4514-bd72-e3ccd78bf715.js")
//-               //- .row.text-center
//-               //-   script(src="https://squareup.com/appointments/buyer/widget/614b4150-962c-4b64-b6b9-652107d77e22.js")
//-               // end of row
//-             // end of individual feature content
//-             li.clearfix
//-               .row
//-                 .col-sm-12.text-center
//-                   h1 Many appealing ways to present information
//-               // end of row
//-               .row
//-                 .col-sm-6
//-                   p.lead
//-                     | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
//-                 .col-sm-6
//-                   p.lead
//-                     | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
//-               // end of row
//-             // end of individual feature content
//-             li.clearfix
//-               .row
//-                 .col-sm-12.text-center
//-                   h1 Several appealing ways to present information
//-               // end of row
//-               .row
//-                 .col-sm-6
//-                   p.lead
//-                     | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
//-                 .col-sm-6
//-                   p.lead
//-                     | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
//-               // end of row
//-             // end of individual feature content
//-             li.clearfix
//-               .row
//-                 .col-sm-12.text-center
//-                   h1 Numerous appealing ways to present information
//-               // end of row
//-               .row
//-                 .col-sm-6
//-                   p.lead
//-                     | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
//-                 .col-sm-6
//-                   p.lead
//-                     | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
//-               // end of row
//-             // end of individual feature content
//-       section.team-1
//-         .container
//-           .row
//-             .col-md-8.col-md-offset-2.text-center
//-               h1 About Our Team
//-           // end of row
//-           .row.space-bottom-large
//-             .col-sm-4
//-               .team-1-member
//-                 img(alt="Team Member", src="/img/team-small-1.png ")
//-                 h2 Chip Mayer
//-                 h5 Founder &#38; CEO
//-                 p.space-top-small
//-                   | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
//-               // end of team member
//-             .col-sm-4
//-               .team-1-member
//-                 img(alt="Team Member", src="/img/team-small-3.png ")
//-                 h2 Claire Connors
//-                 h5 Creative Director
//-                 p.space-top-small
//-                   | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
//-               // end of team member
//-             .col-sm-4
//-               .team-1-member
//-                 img(alt="Team Member", src="/img/team-small-2.png")
//-                 h2 Robin Banks
//-                 h5 Partner &#38; COO
//-                 p.space-top-small
//-                   | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
//-               // end of team member
//-           // end of row
//-           // end of row
//-         // end of container
//-       section.clients-2
//-         .container
//-           .row
//-             .col-md-2.col-sm-4
//-               img(alt="Client Logo", src="/img/client1.png")
//-             .col-md-2.col-sm-4
//-               img(alt="Client Logo", src="/img/client2.png")
//-             .col-md-2.col-sm-4
//-               img(alt="Client Logo", src="/img/client3.png")
//-             .col-md-2.col-sm-4
//-               img(alt="Client Logo", src="/img/client4.png")
//-             .col-md-2.col-sm-4
//-               img(alt="Client Logo", src="/img/client5.png")
//-             .col-md-2.col-sm-4
//-               img(alt="Client Logo", src="/img/client6.png")
//-           // end of row
//-         // end of container